body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.menu-section {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(0, 0, 0);

}

h2 {
    color: #000000;
    font-size: 28px;
    border-bottom: 2px solid #BDC3C7;
    padding-bottom: 10px;
}

.dish {
    margin-bottom: 20px;
}

.dish h3 {
    margin: 0;
    font-size: 24px;
    color: #2980B9;
}

.dish p {
    font-size: 16px;
    color: #7F8C8D;
}

.dish ul {
    list-style-type: none;
    padding: 0;
}

.dish li {
    font-size: 16px;
    color: #34495E;
}
ul li {

    background: #333333;
    margin: 0 10px; 
    padding: 10px;
    border-radius: 5px;
    display: inline-block; 
}
a {
    font-style: normal;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none; 
}
.menu-section{
    ul li {
        font-size: 18px;
        background-color: #f4f4f4;
        color: #2980B9;
        font-weight: 500;
    }
}
footer {
    background-color:#1a1a1ad3;
    color: rgba(255, 255, 255, 0.779);
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Ensures footer stays at the bottom */
    position-anchor:  bottom;
    p {color: #e9e4e4dd; font-family:'Times New Roman', Times, serif;}

}
.footer-content {
    display: flex; /* Käytä flexboxia */
    justify-content: space-between; /* Tekijänoikeustiedot vasemmalle, yhteystiedot oikealle */
    align-items: center; /* Keskitä pystysuunnassa */
    max-width: 1200px; /* Rajoita leveys */
    margin: 0 auto; /* Keskitä vaakasuunnassa */
}

.contact-info {
    text-align: right; /* Yhteystiedot oikealle */
}

.contact-info p {
    margin: 5px 0; /* Lisää väliä tekstiriveille */
}
